---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=desirae.borer%40green.com
    headers:
      Authorization:
      - Bearer sk_test_jTiNI1BxjFxBr4TUqdHefc1f
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_ASM44Uyh4b6zok",
          "object": "customer",
          "account_balance": 0,
          "created": 1491926192,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "desirae.borer@green.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_ASM44Uyh4b6zok/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_ASM44Uyh4b6zok/subscriptions"
          }
        }
  recorded_at: Tue, 11 Apr 2017 15:56:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_ASM44Uyh4b6zok/sources
    body:
      encoding: UTF-8
      string: source[object]=card&source[number]=4242424242424242&source[cvc]=123&source[exp_month]=6&source[exp_year]=2020
    headers:
      Authorization:
      - Bearer sk_test_jTiNI1BxjFxBr4TUqdHefc1f
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1A7RM5LrlCqAeZVWm3KKmS6J",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_ASM44Uyh4b6zok",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 6,
          "exp_year": 2020,
          "fingerprint": "Nlkrx3hFLJB0Ad6I",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Tue, 11 Apr 2017 15:56:17 GMT
recorded_with: VCR 3.0.3
